
html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: $white;
    background-color: $blue;
    // cursor: none;
}

// #invertedcursor {
//     position: absolute;
//     width: 40px;
//     height: 40px;
//     background: #fff;
//     border-radius: 50%;
//     top: var(--y, 0);
//     left: var(--x, 0);
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     mix-blend-mode: difference;
//     transition: transform .2s;
// }

.layout__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    width: calc(min(800px, 80vw));
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 1rem;

    div {
        display: flex;
        justify-content: center;
    }

    p{
        width: 100%;
    }
}

.img_container {
    width: 20%;
    height: fit-content;
    align-self: center;
}

.content__wrapper {
    background-color: $background-color;
}




