
html,
body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: $red;
    // cursor: none;
}

.layout__container {
    // height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    // width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex_wrapper {
    width: 100%;
    display: flex;
    // justify-content: space-between;

    .heading_container {
        margin-top: 1rem;
        width: 30%;
        // width: calc(min(500px, 90vw));
    }
    .about {
        background-color: $background-color; 
    }
    .content_container {
        width: 70%;
        // width: calc(min(1000px, 90vw));
        display: flex;
        flex-direction: column;
        align-items: center;
        

        section {
            // width: calc(min(800px, 80vw));
            width: 80%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
        
            p{
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .flex_wrapper {
        flex-direction: column;
        align-items: center;
        .heading_container {
            width: 90%;
        }
        .content_container {
            width: 90%;
        }
    }
    
}



// #invertedcursor {
//     position: absolute;
//     width: 40px;
//     height: 40px;
//     background: #fff;
//     border-radius: 50%;
//     top: var(--y, 0);
//     left: var(--x, 0);
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     mix-blend-mode: difference;
//     transition: transform .2s;
// }





