.card__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: $background-color;
    box-shadow: 0.2rem 0.2rem $text-color;
    border: 2px solid $text-color;

    width: calc(min(500px, 90vw));
    min-height: 600px;
    margin: 1rem;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.card__text {
    padding: 0.5rem;
}
