a {
    color: $white;
    text-decoration: none;
    font-size: clamp(0.6rem, 2vw, 0.8rem);

    &:hover {
        cursor: pointer;
    }
}

.index__nav {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.card__link__container {
    display: flex;
    justify-content: space-between;
}


button, .button {
    background-color: $purple;
    color: $white;
    box-shadow: 0.1rem 0.1rem $text-color;
    transition: box-shadow 0.3s;

    
    text-align: center;
    text-decoration: none;
    letter-spacing: 4px;
    text-shadow: -1px -1px $text-color;
    
    border: 2px solid $text-color;
    width: calc(min(7rem, 35vw));
    

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0.5rem;
    padding: 0.5rem 0.7rem;
    
    
    &:hover {
        cursor: pointer;
        box-shadow: none;
    }
    &:active {
        box-shadow: none;
        background-color: $pink;
    }
}

// .link {
//     text-shadow: 3px 3px $text-color;
// }

