nav {
    // height: 2.5rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    // background-color: $pink;
    // padding: 0.5rem 3rem;
    // padding: calc(min(0.5rem, 1vw)) calc(min(3rem, 4vw));
    // background-color: $pink;
    // padding: calc(min(0.5rem, 1vw)) calc(min(3rem, 4vw));
    // overflow: hidden;

    height: calc(min(2.5rem, 15vw));

    a {
        font-weight: 400;
        margin: 0.5rem 0rem;
        padding: 0.5rem 0rem;
        line-height: 0.5;
    }
}

.active {
    border-bottom: 2px solid $pink;
}

nav label, #hamburger {
    display: none;
}

nav label {
    background-color: $pink;
    padding: 0 calc(min(3rem, 3vw));
    // padding-top: 0.5rem;
    // padding: calc(min(0.5rem, 1vw)) calc(min(3rem, 3vw));
    // padding-top: calc(min(0.5rem, 1vw));
    // padding-left: calc(min(3rem, 3vw));
    // padding-right: calc(min(3rem, 3vw));
    color: $red;
    color: $darkbrown;
    font-size: 1.5rem;
    height: calc(min(2.5rem, 15vw));
    // line-height: 2;

    // line-height: clamp(1rem, 10vh, 3rem);

    display: inline-block;
    align-self: flex-end;

    cursor: pointer;
}

#nav-items {
    background-color: $red;
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    border-left: 3px solid $pink;
    border-top: 3px solid $pink;
    border-bottom: 3px solid $pink;
    border-radius: 50px 0 0 50px;
    
    padding: calc(min(0.5rem, 1vw)) calc(min(3rem, 4vw));
    padding: calc(min(0.5rem, 3vw)) calc(min(3rem, 6vw));
    display: none;
}

nav input:checked ~ #nav-items {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 10;
    // width: 21rem;
}

@media screen and (min-width: 850px) {
    nav {
        flex-direction: row-reverse;

        label {
            align-self: flex-start;
        }

        a {
            margin: 0 0.5rem;
            padding: 0 0.5rem;
        }
    }

    nav input:checked ~ #nav-items {
        display: flex;
        flex-direction: row;
        text-align: right;
        z-index: 10;
    }

    #nav-items {
        background: transparent;
        margin-top: 0.5rem;
        border-left: none;
        border-top: none;
        border-bottom: none;
        border-radius: none;
    }
}



// nav {
//     display: flex;
//     flex-direction: column;

//     a {
//         margin: 0.5rem 0rem;
//         padding: 0.5rem 0rem;
//     }
// }